doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
    body 
        header.header 
            .brand 
                a(href="/")
                    h2 USER 
            nav.header__nav     
                ul.header__menu-items
                    li.menu-items__item 
                        a(href="/", class=(path==='/'?'active':'')) Show Users
                    li.menu-items__item 
                        a(href="/admin/add-user", class=(path==='/admin/add-user'?'active':'')) Add User
        
        block content