* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 10px 20px;
    width: 100%;
    height: auto;
    background-color: rgb(190, 188, 188);
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
   
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
     color: rgb(0, 13, 83);
}

li a:hover{
 color: rgb(23, 47, 180);
}

#menu-product-link{
   position: relative; 
 
}
#menu-product-link:hover .menu-product{
 
    padding: 10px;
    padding-top: 20px;
    height: 100px;
    transition: height .2s linear;
}

.menu-product{
    height: 0;
    position: absolute;
    top: 15px;
    left: 0;
    background-color: rgb(190, 188, 188);
    padding: 0px;
    overflow: hidden;
}


.header .logo {
    font-size: 25px;
    font-style: italic;
    color: rgb(0, 13, 83);

}

nav {
    display: flex;
    gap: 50px;
    color: rgb(0, 0, 0);
}

.btn {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
}

.btn:active{
    transform: scale(0.98);
}

.btn-white {
    background-color: rgb(223, 223, 223);
}

.btn-green {
    background-color: green;
}